@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* { 
    padding: 10px;
    margin: 0px;
}

:root {
    --CORDEL:'Passion One', sans-serif;
    --Srira: 'Sriracha', cursive;
}

html,body {
    min-height: 100vh;
    
}


header {
    background-color: black;
    width: 802px;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
    margin: auto;
}

h1 {
    color: white;
    font-family: var(--CORDEL);
    text-align: center;
    margin: 0px; 
}

p{
    color: white;
    margin: 0px;
    text-align: center;
      
}

h2 {
    font-family: var(--CORDEL);
    color: white;
    text-align: center;
    margin: 0px;  
}
h2 > a{
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    color: darkgoldenrod;
}

main{
    background-color: white;
    border: 1px solid black;
    font-family: var(--Srira);
    width: 800px;
    margin: auto;

}

.s1{
    text-transform: uppercase;
}

.s2{
    text-transform: uppercase;
}

.s3{
    text-transform: uppercase;
}

#q1{
    background-color: black;
    background-image: url('../img/background001.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100% 100%; 

   
}


#q1>p{
    background-color:rgba(255, 255, 255, 0.253);
    font-family: var(--Srira);
    color:white;
    border:1px solid black;
    border-radius: 10px;
    display: inline-block;
    text-align: justify;
    height: 100%;
    text-shadow: 2px 2px black;
}

#q2{
    background-color: black;
    background-image: url('../img/background002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100% 100%;  
    
}

#q2>p{
    background-color:rgba(0, 0, 0, 0.493);
    font-family: var(--Srira);
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    height: 100%;
    text-align: justify;
    text-shadow: 2px 2px black;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    border-bottom-right-radius:5px ;
    border-bottom-left-radius: 5px;
    margin: auto;
    padding: 0px;
    width: 822px;
}

footer >  a{
    text-decoration: none;
    color: white;
}